doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/reset.min.css")
        title Document
    body
        header
            .header__nav
                ul
                    li.logo yes.
                    li 
                         a(href="#") Sun
                    li 
                         a(href="#") Optical
                    li 
                         a(href="#") Fit guide
                    li
                         a(href="#") Customer care 
            .header__content 
                .header__blocktitle 
                    .header__title We treat your eyes with care
                    .header__subtitle SEE THE COLLECTION
                        span 
                            div
                .header__photo 
                    img(src="./images/Rectangle.svg", alt="photo")           
        .blockshop 
            .blockshop__content 
                .blockshop__blockwomen  
                    img(src="./images/woman.svg", alt="woman")
                    .shop
                        a(href="#") SHOP WOMEN         
                .blockshop__blockman
                    img(src="./images/man.svg", alt="man")
                    .shop
                        a(href="#") SHOP MEN 
        .goods
            .goods__top 
                .goods__title New in stock
                .goods__text SEE THE COLLECTION
            .goods__content 


